apiVersion: v1
kind: Service
metadata:
  name: migrategenie-transformer
spec:
  type: ClusterIP
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8000
  selector:
    app: migrategenie-transformer
